    <div class="preloader" style="display: none;"></div>
    <main>
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel-nav">
                            <div class="nav-logo">
                                <a href="/"><img src="produccion/img/logo.png" alt=""></a>
                                <span class="navTrigger  d-lg-none d-xl-none">
                                    <i></i>
                                    <i></i>
                                    <i></i>
                                </span>
                            </div>
                            <div class="nav-content  d-none">
                                <div class="nav-content__contacto  d-none d-lg-block d-xl-block">
                                    <ul class="list-links">
                                        <li class="list-links__item  item-contact"><a href="https://goo.gl/93rhPe"><i class="fab fa-whatsapp"></i>
                                                01 2728709</a></li>
                                        <li class="list-links__item  item-contact"><a href="/contactanos"><i class="far fa-envelope-open"></i>
                                                prueba@gmail.com</a></li>
                                        <li class="list-links__item  item-contact"><a href="javascript:void(0)"><i></i></a></li>
                                        <li class="list-links__item  item-contact"><a href="javascript:void(0)"><i></i></a></li>
                                    </ul>
                                </div>
                                <div class="nav-content__list box-list ">
                                    <ul class="list-links">
                                        <li class="list-links__item  item-links"><a href="/">Inicio</a></li>
                                        <li class="list-links__item  item-links"><a href="nosotros">Nosotros</a></li>
                                        <li class="list-links__item  item-links"><a href="servicios">Servicios</a></li>
                                        <li class="list-links__item  item-links"><a href="contactanos">Contactanos</a></li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </nav>