<!DOCTYPE html>
<html lang="es-pe">

	<% include ../partials/head %>

<body>

	<% include ../partials/header %>

    <div class="page-indicator">
      <div class="indicator__box ">
        <div class="box--item   d-none d-sm-none  d-md-block">
          <!-- <ul class="indicator--left ">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="contactanos.html">Contáctanos</a></li>
          </ul> -->
        </div>
        <div class="box--item">
          <ul class="indicator--right">
            <li>
              <h3>PUEDES CONTACTARNOS</h3>
            </li>
            <li>
              <h4>POR LOS SIGUIENTES MEDIOS</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="contactanos">
      <div class="container  padding50TopBottom">
        <div class="row">
          <div class="col-12 col-lg-7">
            <h2 class="title__page aos-init aos-animate" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine">Puedes
              | <strong class="title__page--resalt">Contactarnos</strong></h2>
          </div>
          <div class="col-12 col-lg-5">

          </div>
        </div>
      </div>
    </div>

    <div class="contactanos">
      <div class="container">
        <div class="row">
          <!-- Left part start -->
          <div class="col-lg-8">
            <div class=" bg-gray clearfix">
              <h2 class="contactanos__title">Envianos un mensaje</h2>
              <div class="dzFormMsg"></div>
              <form id="formSendContact" method="post" class="contactanos__form" action="/send-email-contact" >
                <input type="hidden" value="Contact" >
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <div class="input-group">
                        <input  type="text" required="" class="form-control" name="name" placeholder="Ingresa tu nombre">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <div class="input-group">
                        <input  type="email" class="form-control" name="email" required="" placeholder="Ingresa tu email">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <div class="input-group">
                        <input  type="text" required="" class="form-control" name="telefono" placeholder="Ingresa tu telefono">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <div class="input-group">
                        <input  type="text" required="" class="form-control" name="asunto" placeholder="Cual es el asunto">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <div class="input-group">
                        <textarea  rows="4" class="form-control" required="" name="mensaje" placeholder="Ingresa tu mensaje"></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-12">
                      <button type="submit" class="btn-principal  btn-slider">Enviar Mensaje</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- Left part END -->
          <!-- right part start -->
          <div class="col-lg-4 d-lg-flex">
            <div class="contacto-rapido">
              <h2 class="m-b10">Contacto rádido</h2>
              <p>Si tiene alguna pregunta, simplemente utilice los siguientes datos de contacto.</p>
              <ul class="lista-contacto-rapido">
                <li class="contacto-rapido__item"  data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                  <div class="box-item">
                    <a href="#" class="icon-cell">
                      <i class="fas fa-map-marked-alt"></i>
                    </a>
                  </div>
                  <div class="box-content">
                    <h6 class="text-uppercase">DIRECCIÓN:</h6>
                    <p>Comas - Lima</p>
                  </div>
                </li>
                <li class="contacto-rapido__item"  data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                  <div class="box-item">
                    <a href="#" class="icon-cell">
                      <i class="far fa-envelope-open"></i>
                    </a>
                  </div>
                  <div class="box-content">
                    <h6 class="text-uppercase">EMAIL:</h6>
                    <p>prueba@gmail.com</p>
                  </div>
                </li>
                <li class="contacto-rapido__item"  data-aos="flip-left"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000">
                  <div class="box-item">
                    <a href="#" class="icon-cell">
                      <i class="fas fa-mobile-alt"></i>
                    </a>
                  </div>
                  <div class="box-content">
                    <h6 class="text-uppercase">TELÉFONO</h6>
                    <p>01 27280709</p>
                  </div>
                </li>
              </ul>

            </div>
          </div>
          <!-- right part END -->
        </div>
      </div>
    </div>


	<% include ../partials/footer %>
	<% include ../partials/javascript %>

  <script>


       AOS.init();
       window.addEventListener('load', AOS.refresh)

      $(document).ready(function () {
          var options = {
              strings: ["Obten tu brevete AHORA!", "Licencias para conducir"],
              typeSpeed: 100,
              startDelay: 0,
              backSpeed: 10,
              backDelay: 1750,
              loop: true,
          }
          var typed = new Typed(".element", options);
      });

       $("#formSendContact").on("submit",function  (e) {
           e.preventDefault();
           console.log();
           $.post("/send-email-contact",$(this).serialize(), function( data ) {
               if(data.status=="ok"){
                   alert("Email enviado correctamente.");
                   $("#formSendContact").trigger("reset");
               }else{
                   alert("Ocurrio un error");
               }
               console.log(data);
           });
       })
      </script>
  

</body>

</html>
