<!DOCTYPE html>
<html lang="es-pe">

	<% include ../partials/head %>

<body>

	<% include ../partials/header %>

    <div class="page-indicator">
      <div class="indicator__box ">
        <div class="box--item   d-none d-sm-none  d-md-block">
          <!-- <ul class="indicator--left ">
             <li><a href="index">Inicio</a></li>
            <li><a href="nosotros">Nosotros</a></li>
          </ul> -->
        </div>
        <div class="box--item">
          <ul class="indicator--right">
            <li>
              <h3>ACERCA DE NOSOTROS</h3>
            </li>
            <li>
              <h4>CONÓZCANOS MEJOR</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="nosotros">
      <div class="container  padding50TopBottom">
        <div class="row">
          <div class="col-12 col-lg-12">
            <h2 class="title__page" >Acerca
              | <strong class="title__page--resalt">Auto Smart</strong></h2>
            <p>En Autosmart somos un grupo ciudadanos comunes que viendo la necesidad y falta de interés en formar buenos y responsables conductores, además de orientar y facilitar información sobre cómo obtener de manera sencilla, rápida y económica un permiso de conducir, decidimos formar esta empresa de servicios orientada al ciudadano.</p>
            <br>
            <p>Las Escuelas de Manejo con las cuales nos hemos asociado tienen como finalidad transmitir conceptos y técnicas que les permitan a los futuros conductores desenvolverse con seguridad, confianza y responsabilidad además de ser capaces de conducir en el tránsito de hoy, de anticipar situaciones complejas y a la vez, conscientes de su responsabilidad en la construcción de la seguridad vial. <br>
            
              Los paquetes que ofreceremos estarán al alcance de tu economía, siempre con el mejor precio del mercado y estaremos atentos a vuestros comentarios y sugerencias.</p><br>
              
              <p>Los paquetes que ofreceremos estarán al <strong>alcance de tu economía</strong>, siempre con el mejor precio del mercado y estaremos atentos a vuestros comentarios y sugerencias.</p>
          </div>
          <div class="col-12 col-lg-5">

          </div>
        </div>
      </div>
    </div>

    <div class="container  trilogia">
        <div class="row">
          <div class="col-12 col-lg-4">
            <div class="trilogia__item" data-aos="zoom-in-up">
              <div class="item--img">
                <img src="" alt="">
              </div>
              <div class="item--title  text-center ">
                <div class="trilogia__box--icon">
                  <div class="trilogia--icon">
                    <p class="text-center "><span><i class="fas fa-bullseye"></i></span></p>
                  </div>
                </div>
                <h2 class="text-center  trilogia--icon-title">Mision</h2>
              </div>
              <div class="item--text">
                Capacitar, formar y orientar a los futuros conductores sobre el modo responsable que debe de tener al estar al volante.
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4  trilogia__box">
            <div class="trilogia__item" data-aos="zoom-in-up">
              <div class="item--img">
                <img src="" alt="">
              </div>
              <div class="item--title  text-center ">
                <div class="trilogia__box--icon">
                  <div class="trilogia--icon">
                    <p class="text-center "><span><i class="fas fa-low-vision"></i></span></p>
                  </div>
                </div>
                <h2 class="text-center  trilogia--icon-title">VISION</h2>
              </div>
              <div class="item--text  trilogia--border">
                Consolidarnos como empresa líder en la prestación de servicios varios que tiene por finalidad la obtención de una licancia de conducir
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4  trilogia__box">
            <div class="trilogia__item" data-aos="zoom-in-up">
              <div class="item--img">
                <img src="" alt="">
              </div>
              <div class="item--title  text-center ">
                <div class="trilogia__box--icon">
                  <div class="trilogia--icon">
                    <p class="text-center "><span><i class="fas fa-balance-scale"></i></span></p>
                  </div>
                </div>
                <h2 class="text-center  trilogia--icon-title">VALORES</h2>
              </div>
              <div class="item--text  trilogia--border">
                Impartimos los valores de respeto, responsabilidad, confianza, seguridad y compromiso.
              </div>
            </div>
          </div>
        </div>
      </div>	

	<% include ../partials/footer %>
	<% include ../partials/javascript %>

   <script>


       AOS.init();
       window.addEventListener('load', AOS.refresh)

      $(document).ready(function () {
          var options = {
              strings: ["Obten tu brevete AHORA!", "Licencias para conducir"],
              typeSpeed: 100,
              startDelay: 0,
              backSpeed: 10,
              backDelay: 1750,
              loop: true,
          }
          var typed = new Typed(".element", options);
      });
      </script> 
</body>

</html>
