<!DOCTYPE html>
<html lang="es-pe">

  <% include ../partials/head %>

<body>

  <% include ../partials/header %>

        
        <div class="page-indicator">
            <div class="indicator__box ">
                <div class="box--item   d-none d-sm-none  d-md-block">
                    <!-- <ul class="indicator--left ">
                        <li><a href="index.html">Inicio</a></li>
                        <li><a href="servicios.html">Servicios</a></li>
                    </ul> -->
                </div>
                <div class="box--item">
                    <ul class="indicator--right">
                        <li>
                            <h3>NUESTROS SERVICIOS</h3>
                        </li>
                        <li>
                            <h4>Trabajo de profesionales</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="servicios">
            <div class="container-fluid  padding50TopBottom">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <h2 class="title__page aos-init aos-animate" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine">Nuestros
                            | <strong class="title__page--resalt">Servicios</strong></h2>
                        <p>Para Comprar un paquete puedes hacerlo desde la misma página, dando clic en el botón Comprar o por transferencia bancaria. Una vez realizado el pago, enviar el voucher o constancia de pago e inmediatamente nos pondremos en contacto con ud. 
                                </p><br>
                                <p>
                                        Cta Bancaria:  <strong>0049 0000 0000 0000</strong>
                                        CCI:  <strong>011 0049 000000000000  </strong> <br>
                                        Si tiene alguna duda, no dude en comunicarse con nosotros.
                                    </p>
                </div>
            </div>
        </div>

        <div class="tabs-servicios">
            <div class="tabs-home">
                <div class="container-fluid">

                    <div class="tabs-home__box row clearfix">
                        <!--Buttons Side-->
                        <div class="col-12 col-lg-3 tabs-home-btn">

                            <ul class="tab-buttons">
                                <li class="wow fadeInUp animated" data-wow-delay="0ms" data-wow-duration="1000ms">
                                    <a href="#tab-one" class="tab-btn clearfix active-btn">
                                        <h4><span><i class="fas fa-car"></i></span>CLASES DE MANEJO</h4>
                                        <!-- <p>Lorem ipsum dolor sit amet</p> -->
                                    </a>
                                </li>
                                <li class="wow fadeInUp animated" data-wow-delay="200ms" data-wow-duration="1000ms">
                                    <a href="#tab-two" class="tab-btn clearfix">
                                        <h4><span><i class="fas fa-car"></i></span>EXAMEN MÉDICO</h4>
                                        <!-- <p>Lorem ipsum dolor sit amet</p> -->
                                    </a>
                                </li>
                                <li class="wow fadeInUp animated" data-wow-delay="400ms" data-wow-duration="1000ms">
                                    <a href="#tab-three" class="tab-btn clearfix">
                                        <h4><span><i class="fas fa-car"></i></span>OTROS / STEPS</h4>
                                    </a>
                                </li>
                                <!-- <li class="wow fadeInUp animated" data-wow-delay="600ms" data-wow-duration="1000ms">
                                <a href="#tab-four" class="tab-btn clearfix">
                                    <div class="icon">
                                        <span class="flaticon"><i class="fas fa-car"></i></span>
                                    </div>
                                    <h4>OTROS SERVICIOS</h4>
                                    <p>Lorem ipsum dolor sit amet</p>
                                </a>
                            </li> -->
                            </ul>
                        </div>
                        <div class="col-12 col-lg-9 tabs-home-content clearfix">
                            <div class="tab tab-active" id="tab-one" style="display: block;">


                                <div class="row list clearfix  paquetes  price-plans">
                                    <article class="col-12 col-md-6  col-lg-4  table-column" data-aos="fade-up" data-aos-duration="750">
                                        <div class="table-inner">
                                            <div class="table-header ">
                                                <h3>PREMIUM</h3>
                                            </div>
                                            <div class="price-column price">
                                                <h4 class="amount"><sup>S/</sup>250</h4>
                                                <p>10 Horas de manejo(Habilidad y destreza)</p>
                                            </div>
                                            <div class="list">
                                                <ul>
                                                    <li>Estacionamiento (Habilidad y destreza)</li>
                                                    <li>Examen Médico</li>
                                                    <li>Sin recojo a domicilio</li>
                                                </ul>
                                            </div>

                                            <a href="servicios" class="read-more hvr-bounce-to-right"><i class="fas fa-shopping-cart"></i>COMPRAR</a>
                                        </div>
                                    </article>

                                    <article class="col-12 col-md-6  col-lg-4 table-column" data-aos="fade-up" data-aos-duration="750">
                                        <div class="table-inner">
                                            <div class="table-header ">
                                                <h3>PREMIUM</h3>
                                            </div>
                                            <div class="price-column price">
                                                <h4 class="amount"><sup>S/</sup>300 </h4>
                                                <p>10 Horas de practicas.</p>
                                            </div>
                                            <div class="list">
                                                <ul>
                                                    <li>Estacionamiento (Habilidad y destreza)</li>
                                                    <li>Examen Médico</li>
                                                    <li>Con recojo a domicilio</li>
                                                </ul>
                                            </div>

                                            <a href="servicios" class="read-more hvr-bounce-to-right"><i class="fas fa-shopping-cart"></i>COMPRAR</a>
                                        </div>
                                    </article>

                                    <article class="col-12 col-md-6  col-lg-4  table-column" data-aos="fade-up" data-aos-duration="750">
                                        <div class="table-inner">
                                            <div class="table-header ">
                                                <h3>PREMIUM</h3>
                                            </div>
                                            <div class="price-column price">
                                                <h4 class="amount"><sup>S/</sup>120</h4>
                                                <p>10 Horas de manejo(Habilidad y destreza)</p>
                                            </div>
                                            <div class="list">
                                                <ul>
                                                    <li>Estacionamiento (Habilidad y destreza)</li>
                                                    <li>Examen Médico</li>
                                                    <li>Sin recojo a domicilio</li>
                                                </ul>
                                            </div>

                                            <a href="servicios" class="read-more hvr-bounce-to-right"><i class="fas fa-shopping-cart"></i>COMPRAR</a>
                                        </div>
                                    </article>

                                    <article class="col-12 col-md-6  col-lg-4 table-column" data-aos="fade-up" data-aos-duration="750">
                                        <div class="table-inner">
                                            <div class="table-header ">
                                                <h3>PREMIUM</h3>
                                            </div>
                                            <div class="price-column price">
                                                <h4 class="amount"><sup>S/</sup>140 </h4>
                                                <p>4 Horas de manejo.</p>
                                            </div>
                                            <div class="list">
                                                <ul>
                                                    <li>Práctica en Circuito Alterno (Referencia Altura del Ovalo Canta Callao)</li>
                                                    <li>Estacionamiento (Habilidad y destreza)</li>
                                                    <li>Con recojo a domicilio</li>
                                                </ul>
                                            </div>

                                            <a href="servicios" class="read-more hvr-bounce-to-right"><i class="fas fa-shopping-cart"></i>COMPRAR</a>
                                        </div>
                                    </article>

                                    <article class="col-12 col-md-6  col-lg-4  table-column" data-aos="fade-up" data-aos-duration="750">
                                        <div class="table-inner">
                                            <div class="table-header ">
                                                <h3>PREMIUM</h3>
                                            </div>
                                            <div class="price-column price">
                                                <h4 class="amount"><sup>S/</sup>300</h4>
                                                <p>12 Horas de manejo(Habilidad y destreza)</p>
                                            </div>
                                            <div class="list">
                                                <ul>
                                                    <li>Práctica en Circuito Alterno (Referencia Altura del Ovalo Canta Callao)</li>
                                                    <li>Estacionamiento (Habilidad y destreza)</li>
                                                    <li>Examen Médico</li>
                                                    <li>Sin recojo a domicilio</li>
                                                </ul>
                                            </div>

                                            <a href="servicios" class="read-more hvr-bounce-to-right"><i class="fas fa-shopping-cart"></i>COMPRAR</a>
                                        </div>
                                    </article>

                                    <article class="col-12 col-md-6  col-lg-4 table-column" data-aos="fade-up" data-aos-duration="750">
                                        <div class="table-inner">
                                            <div class="table-header ">
                                                <h3>PREMIUM</h3>
                                            </div>
                                            <div class="price-column price">
                                                <h4 class="amount"><sup>S/</sup>350 </h4>
                                                <p>12 Horas de manejo(Habilidad y destreza)</p>
                                            </div>
                                            <div class="list">
                                                <ul>
                                                    <li>Práctica en Circuito Alterno (Referencia Altura del Ovalo Canta Callao)</li>
                                                    <li>Estacionamiento (Habilidad y destreza)</li>
                                                    <li>Examen Médico</li>
                                                    <li>Con recojo a domicilio</li>
                                                </ul>
                                            </div>

                                            <a href="servicios" class="read-more hvr-bounce-to-right"><i class="fas fa-shopping-cart"></i>COMPRAR</a>
                                        </div>
                                    </article>

                                    <article class="col-12 col-md-6  col-lg-4 table-column" data-aos="fade-up" data-aos-duration="750">
                                        <div class="table-inner">
                                            <div class="table-header ">
                                                <h3>PREMIUM</h3>
                                            </div>
                                            <div class="price-column price">
                                                <h4 class="amount"><sup>S/</sup>60 </h4>
                                                <p>2 Horas de manejo</p>
                                            </div>
                                            <div class="list">
                                                <ul>
                                                    <li>Práctica en Circuito Alterno (Referencia Altura del Ovalo Canta Callao)</li>
                                                    <li>Sin recojo a domicilio</li>
                                                </ul>
                                            </div>

                                            <a href="servicios" class="read-more hvr-bounce-to-right"><i class="fas fa-shopping-cart"></i>COMPRAR</a>
                                        </div>
                                    </article>

                                    <article class="col-12 col-md-6  col-lg-4 table-column" data-aos="fade-up" data-aos-duration="750">
                                        <div class="table-inner">
                                            <div class="table-header ">
                                                <h3>PREMIUM</h3>
                                            </div>
                                            <div class="price-column price">
                                                <h4 class="amount"><sup>S/</sup>80 </h4>
                                                <p>2 Horas de manejo</p>
                                            </div>
                                            <div class="list">
                                                <ul>
                                                    <li>Práctica en Circuito Alterno (Referencia Altura del Ovalo Canta Callao)</li>
                                                    <li>Con recojo a domicilio</li>
                                                </ul>
                                            </div>

                                            <a href="servicios" class="read-more hvr-bounce-to-right"><i class="fas fa-shopping-cart"></i>COMPRAR</a>
                                        </div>
                                    </article>
                                </div>
                            </div>

                            <!--Tab-->
                            <div class="tab " id="tab-two" style="display: none;">
                                <div class="row list clearfix  paquetes  price-plans">
                                    <article class="col-12 col-md-6  col-lg-4  table-column" data-aos="fade-up" data-aos-duration="750">
                                        <div class="table-inner">
                                            <div class="table-header ">
                                                <h3>PREMIUM</h3>
                                            </div>
                                            <div class="price-column price">
                                                <h4 class="amount"><sup>S/</sup>60</h4>
                                                <p>Examen Médico categoría AI y AIIA</p>
                                            </div>
                                            <div class="list">
                                                <ul>
                                                    <li>Examen Médico</li>
                                                    <li>Revalidación</li>
                                                    <li>Con recojo a domicilio</li>
                                                </ul>
                                            </div>

                                            <a href="servicios" class="read-more hvr-bounce-to-right"><i class="fas fa-shopping-cart"></i>COMPRAR</a>
                                        </div>
                                    </article>

                                    <article class="col-12 col-md-6  col-lg-4 table-column" data-aos="fade-up" data-aos-duration="750">
                                        <div class="table-inner">
                                            <div class="table-header ">
                                                <h3>PREMIUM</h3>
                                            </div>
                                            <div class="price-column price">
                                                <h4 class="amount"><sup>S/</sup>80 </h4>
                                                <p>Examen Médico categoría AIIB, AIIIB, y AIIIC</p>
                                            </div>
                                            <div class="list">
                                                <ul>
                                                    <li>Examen Médico</li>
                                                    <li>Con recojo a domicilio</li>
                                                </ul>
                                            </div>

                                            <a href="servicios" class="read-more hvr-bounce-to-right"><i class="fas fa-shopping-cart"></i>COMPRAR</a>
                                        </div>
                                    </article>

                                    <article class="col-12 col-md-6  col-lg-4  table-column" data-aos="fade-up" data-aos-duration="750">
                                        <!-- <div class="table-inner">
                                            <div class="table-header ">
                                                <h3>PREMIUM</h3>
                                            </div>
                                            <div class="price-column price">
                                                <h4 class="amount"><sup>S/</sup>120</h4>
                                                <p>10 Horas de manejo(Habilidad y destreza)</p>
                                            </div>
                                            <div class="list">
                                                <ul>
                                                    <li>Estacionamiento (Habilidad y destreza)</li>
                                                    <li>Examen Médico</li>
                                                    <li>Sin recojo a domicilio</li>
                                                </ul>
                                            </div>

                                            <a href="servicios" class="read-more hvr-bounce-to-right"><i class="fas fa-shopping-cart"></i>COMPRAR</a>
                                        </div> -->
                                    </article>

                                </div>

                            </div>

                            <div class="tab  w-100" id="tab-three" style="display: none;">
                                <div class="page-steps  w-100">
                                    <div class="step-content  w-100">
                                        <div class="step-content__control">
                                            <div class="step step1 activestep ">1</div>
                                            <div class="step step2">2</div>
                                            <div class="step step3 ">3</div>
                                            <div class="step step4 ">4</div>
                                            <div class="step step5 ">5</div>
                                        </div>

                                        <form class="step-content__body ">

                                            <div class="div1 ">
                                                    <div class="row justify-content-md-center">
                                                        <div class="col-12 col-md-9 col-lg-8 col-xl-8">
                                                            <div class="panel-content">
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <div class="col-lg-12  form-group">
                                                                            <label>Dirección domicilio</label>
                                                                            <input type="text " class="form-control" placeholder="Dirección ">
                                                                        </div>
                                                                        <div class="col-lg-12  form-group ">
                                                                            <label for="exampleInputPassword1 ">Distrito</label>
                                                                            <select class="custom-select" id="inputGroupSelect01">
                                                                                <option selected>Seleccionar...</option>
                                                                                <option value="1">One</option>
                                                                                <option value="2">Two</option>
                                                                                <option value="3">Three</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="div2 hidden ">
                                                <div class="container  div2__content  bg-blancoClaro">
                                                    <div class="row">
                                                        <div class="col-12  col-sm-12 col-md-12  col-lg-6  col-xl-4  pd-b16">
                                                            <div class="panel">
                                                                <h3 class="panel--title  text-center  aux-ofi">AUTO CAR <br><span
                                                                        style="font-size: 12px">Oficina comas
                                                                    </span></h3>

                                                                <div class="box-img d-flex  justify-content-center">
                                                                    <img src="produccion/img/avatar.png" alt="">
                                                                </div>
                                                            </div>
                                                            <div class="divider  hidden"></div>
                                                        </div>
                                                        <div class="col-12  col-sm-12 col-md-12  col-lg-6  col-xl-4 pd-b16  step2-central">
                                                            <div class="row">
                                                                <div class="panel">
                                                                    <h3 class="panel--title">PRECIO : S/. 250</h3>
                                                                    <div class="col-lg-12  step2-central__fila">
                                                                        <ul class="row-reset">
                                                                            <li>
                                                                                <span class="span_check"><i class="fas fa-check  pd-r12  color_sec"></i>6
                                                                                    horas de manejo</span>
                                                                            </li>
                                                                            <li>
                                                                                <span class="span_check"><i class="fas fa-check  pd-r12  color_sec"></i>Auto
                                                                                    automatico
                                                                                </span>
                                                                            </li>
                                                                            <li>
                                                                                <span class="span_check"><i class="fas fa-check  pd-r12  color_sec"></i>Con
                                                                                    recogoa domicilio</span>
                                                                            </li>
                                                                            <li>
                                                                                <span class="span_check"><i class="fas fa-check  pd-r12  color_sec"></i>Accesorios</span>
                                                                            </li>
                                                                            <li>
                                                                                <span class="span_check"><i class="fas fa-check  pd-r12  color_sec"></i>Etc</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="col-lg-12  step2-central__fila">
                                                                        <div class="row-reset">
                                                                            <label class="span-2">Seleccione Tipo de Auto</label>
                                                                            <div class="form-check">
                                                                                <input class="form-check-input" type="radio" name="exampleRadios" id="radioAutomatico" value="option1" checked>
                                                                                <label class="form-check-label" for="radioAutomatico">
                                                                                    Automatico
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-check">
                                                                                <input class="form-check-input" type="radio" name="exampleRadios" id="radioMecanico" value="option2">
                                                                                <label class="form-check-label" for="radioMecanico">
                                                                                    Mecánico
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-12  step2-central__fila">
                                                                        <div class="row-reset">
                                                                            <label class="span-2">Recojo a domicilio</label>
                                                                            <div class="form-check">
                                                                                <input class="form-check-input" type="radio" name="exampleRadios" id="radioSi" value="option1" checked>
                                                                                <label class="form-check-label" for="radioSi">
                                                                                    Si
                                                                                </label>
                                                                            </div>
                                                                            <div class="form-check">
                                                                                <input class="form-check-input" type="radio" name="exampleRadios" id="radioNo" value="option2">
                                                                                <label class="form-check-label" for="radioNo">
                                                                                    No
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12  col-sm-12 col-md-12  col-lg-12 col-xl-4 pd-b16">
                                                            <div class="panel">
                                                                <h3 class="panel--title  text-center">UBÍCANOS AHORA</h3>
                                                                <div class="panel--mapa">
                                                                    <iframe id="google" src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d124854.14009308103!2d-76.94895915984047!3d-12.06470845659613!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x68b8066308a0300f%3A0x54d79b0bb6ab56f8!2sPac%C3%ADfico+Sur!3m2!1d-37.579412999999995!2d-139.394531!5e0!3m2!1ses!2spe!4v1541087325668"
                                                                        height="300" width="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12  col-sm-12 ">
                                                            <p class="text-mini">
                                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est animi nisi consequuntur vel ipsum aut consequatur voluptas id!
                                                                Consequuntur quod rem natus ratione velit recusandae in vero
                                                                nisi, sunt reprehenderit?
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="div3 hidden ">
                                                <div class="container">
                                                    <div class="row   justify-content-md-center">
                                                        <div class="col-12  col-lg-8">
                                                            <div class="reserva">
                                                                <div class="col-12">
                                                                    <h3 class="content--title">Reserva : Paquete 250</h3>
                                                                    <span>Continue su compra ...</span>
                                                                </div>
                                                                <div class="col-12">
                                                                    <div class="row">
                                                                        <div class="col-12  col-lg-6">
                                                                            <div class="panel">

                                                                                <div class="box-date">
                                                                                    <div type="text" id="datepicker" class="datepicker"></div>

                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="col-12  col-lg-6">
                                                                            <div class="row  box-date">
                                                                                <div class="col-6">
                                                                                    <label class="box-label-check">
                                                                                        <input class="styled-checkbox  check-seleccionado" id="styled-checkbox-1" type="checkbox" value="value1" checked>
                                                                                        <label for="styled-checkbox-1">8:00</label>
                                                                                    </label>
                                                                                    <label class="box-label-check">
                                                                                        <input class="styled-checkbox  check-ocupado" id="styled-checkbox-2" type="checkbox" value="value2" checked>
                                                                                        <label for="styled-checkbox-2">9:00</label>
                                                                                    </label>
                                                                                    <label class="box-label-check">
                                                                                        <input class="styled-checkbox  check-bloqueado" id="styled-checkbox-3" type="checkbox" value="value3" disabled>
                                                                                        <label for="styled-checkbox-3">10:00</label>
                                                                                    </label>
                                                                                    <label class="box-label-check">
                                                                                        <input class="styled-checkbox" id="styled-checkbox-4" type="checkbox" value="value4" disabled>
                                                                                        <label for="styled-checkbox-4">11:00</label>
                                                                                    </label>
                                                                                    <label class="box-label-check">
                                                                                        <input class="styled-checkbox" id="styled-checkbox-5" type="checkbox" value="value5" disabled>
                                                                                        <label for="styled-checkbox-5">12:00</label>
                                                                                    </label>
                                                                                    <label class="box-label-check">
                                                                                        <input class="styled-checkbox" id="styled-checkbox-6" type="checkbox" value="value6" disabled>
                                                                                        <label for="styled-checkbox-6">13:00</label>
                                                                                    </label>
                                                                                    <div class="clearfix"></div>
                                                                                </div>
                                                                                <div class="col-6">
                                                                                    <label class="box-label-check">
                                                                                        <input class="styled-checkbox" id="styled-checkbox-7" type="checkbox" value="value7" disabled>
                                                                                        <label for="styled-checkbox-7">14:00</label>
                                                                                    </label>
                                                                                    <label class="box-label-check">
                                                                                        <input class="styled-checkbox" id="styled-checkbox-8" type="checkbox" value="value8" disabled>
                                                                                        <label for="styled-checkbox-8">15:00</label>
                                                                                    </label>
                                                                                    <label class="box-label-check">
                                                                                        <input class="styled-checkbox" id="styled-checkbox-9" type="checkbox" value="value9" disabled>
                                                                                        <label for="styled-checkbox-9">16:00</label>
                                                                                    </label>
                                                                                    <label class="box-label-check">
                                                                                        <input class="styled-checkbox" id="styled-checkbox-10" type="checkbox" value="value10" disabled>
                                                                                        <label for="styled-checkbox-10">17:00</label>
                                                                                    </label>
                                                                                    <label class="box-label-check">
                                                                                        <input class="styled-checkbox" id="styled-checkbox-11" type="checkbox" value="valu11" disabled>
                                                                                        <label for="styled-checkbox-11">18:00</label>
                                                                                    </label>
                                                                                    <label class="box-label-check">
                                                                                        <input class="styled-checkbox" id="styled-checkbox-12" type="checkbox" value="value12" disabled>
                                                                                        <label for="styled-checkbox-12">19:00</label>
                                                                                    </label>
                                                                                </div>
                                                                                <div class="clearfix"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="clearfix"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="div4 hidden ">
                                                <div class="container ">
                                                    <div class="row justify-content-md-center">
                                                        <div class="col-12  col-sm-9  col-md-8  col-lg-8  col-xl-6">
                                                            <div class="panel-content">
                                                                <div class="col-12">
                                                                    <h3 class="content--title">Reserva : Paquete 250</h3>
                                                                </div>
                                                                <div class="col-lg-12  form-group">
                                                                    <label>Mombres y Apellidos</label>
                                                                    <input type="text " class="form-control" placeholder="Nombre y apellidos ">
                                                                </div>
                                                                <div class="col-lg-12  form-group ">
                                                                    <label for="exampleInputPassword1 ">Correo</label>
                                                                    <input type="text " class="form-control " placeholder="Correo ">
                                                                </div>
                                                                <div class="col-lg-12  form-group">
                                                                    <label>Celular</label>
                                                                    <input type="phone " class="form-control" placeholder="Celular">
                                                                </div>
                                                                <div class="col-lg-12  form-group">
                                                                    <label>DNI</label>
                                                                    <input type="phone " class="form-control" placeholder="DNI">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="div5 hidden ">
                                                <div class="container ">
                                                    <div class="row justify-content-md-center">
                                                        <div class="col-12  col-sm-9  col-md-8  col-lg-8  col-xl-6">
                                                            <div class="panel-content">
                                                                <div class="col-12">
                                                                    <h3 class="content--title">Reserva : Paquete 250</h3>
                                                                </div>
                                                                <div class="col-lg-12  form-group">
                                                                    <span>Su reserva fué satisfactoria, en breve nos pondremos
                                                                        en contacto</span>
                                                                </div>
                                                                <div class="col-lg-12  form-group ">
                                                                    <h4 class="panel--title">DETALLE RESERVA</h4>
                                                                    <p>Lorem ipsum dolor sit amet <a href="">Link</a></p>
                                                                    <p>Lorem ipsum<a href="">Link</a></p>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="buttons ">
                                                <span class="button back ">Back</span>
                                                <span class="button siguiente btn-principal">siguiente</span>
                                                <span class="button send ">Send</span>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                            <!--
                        <div class="tab" id="tab-four" style="display: none;">
                            <div class="text"> </div>

                            <div class="row list clearfix">
                                <ul class="col-md-6 col-sm-12 col-xs-12">
                                    <li>Sea takimata sanctus</li>
                                    <li>Sea takimata sanctus</li>
                                </ul>
                                <ul class="col-md-6 col-sm-12 col-xs-12">
                                    <li>Sea takimata sanctus</li>
                                    <li>Sea takimata sanctus</li>
                                </ul>
                            </div>
                        </div> -->

                        </div>




                    </div>

                </div>
            </div>

        </div>

    <% include ../partials/footer %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="produccion/plugins/plugins.js"></script>
    <script src="produccion/js/myapp.js"></script>
    
    <script>


        AOS.init();
        window.addEventListener('load', AOS.refresh)

        $(document).ready(function () {
            var options = {
                strings: ["Obten tu brevete AHORA!", "Licencias para conducir"],
                typeSpeed: 100,
                startDelay: 0,
                backSpeed: 10,
                backDelay: 1750,
                loop: true,
            }
            var typed = new Typed(".element", options);
        });

        $('.step-content__body').each(function () {
                // $(this).css(
                //     'height',
                //     $(this).children('div:first').height() +
                //     $(this).children('.buttons').height()
                // );

                $(this).append('<input type="number " class="step-content__body-index " value="1 " style="display:none ">');
            });

            var stepSlideIndex = 0; var stepSlideDirection = '';
            $('.step-content__body .button').click(function () {
                stepSlideIndex = $(this).parent().parent().children('.step-content__body-index').val();

                switch ($(this).text()) {
                    case 'Back': stepSlideDirection = 'back'; break;
                    case 'siguiente': stepSlideDirection = 'siguiente'; break;
                }

                if ($(this).text() != 'Send')
                    stepSlide($(this).parent().parent().parent().children('.step-content__control'),
                        $(this).parent().parent(),
                        stepSlideIndex,
                        stepSlideDirection);
            });


            function stepSlide(steps, fields, index, direction) {
                fields.children('div:nth-of-type(' + index + ')').addClass('hidden');

                switch (direction) {
                    case 'back': fields.children('.step-content__body-index').val(--index); break;
                    case 'siguiente': fields.children('.step-content__body-index').val(++index); break;
                }

                fields.children('div:nth-of-type(' + index + ')').removeClass('hidden');

                steps.children('.step' + index).addClass('activestep');

                switch (direction) {
                    case 'back': steps.children('.step' + (index + 1)).removeClass('activestep'); break;
                    case 'siguiente': steps.children('.step' + (index - 1)).removeClass('activestep'); break;
                }

                fields.css(
                    'height',
                    fields.children('div:nth-of-type(' + index + ')').height() +
                    fields.children('.buttons').height()
                );

                switch (index) {
                    case 1: fields.children('.buttons').children('.back').css('display', 'none'); break;
                    case 2: fields.children('.buttons').children('.back').css('display', 'inline-block');
                        fields.children('.buttons').children('.siguiente').css('display', 'inline-block');
                        fields.children('.buttons').children('.send').css('display', 'none'); break;
                    case 3: fields.children('.buttons').children('.back').css('display', 'inline-block');
                        fields.children('.buttons').children('.siguiente').css('display', 'inline-block');
                        fields.children('.buttons').children('.send').css('display', 'none'); break;
                    case 4: fields.children('.buttons').children('.back').css('display', 'inline-block');
                        fields.children('.buttons').children('.siguiente').css('display', 'inline-block');
                        fields.children('.buttons').children('.send').css('display', 'none'); break;
                    case 5: fields.children('.buttons').children('.back').css('display', 'inline-block');
                        fields.children('.buttons').children('.siguiente').css('display', 'inline-block');
                        fields.children('.buttons').children('.send').css('display', 'none'); break;
                }
            }
    </script>
    
    

</body>

</html>